<div>
    <h3>Results for "<%= query %>"</h3>
    <% if (books.length> 0) { %>
        <div class="container mt-4">
    <ul class="list-unstyled">
        <% books.forEach(book => { %>
            <li class="row align-items-center mb-4">
                <!-- 썸네일 이미지 -->
                <div class="col-md-3 text-center">
                    <img class="img-thumbnail" alt="<%= book.title %>" src="<%= book.image %>">
                </div>
                <!-- 책 정보 -->
                <div class="col-md-9">
                    <h2><%= book.title %></h2>
                    <p><strong>Author:</strong> <%= book.author %></p>
                    <p><strong>Publisher:</strong> <%= book.publisher %></p>
                    <p><strong>Price:</strong> <%= book.discount || book.price %></p>
                    <!-- target="_blank" 이거 새로운 링크 생기면서 <a> 쓰는거 -->
                    <form action="/books/save" method="POST">
                        <input type="hidden" name="title" value="<%= book.title %>">
                        <input type="hidden" name="author" value="<%= book.author %>">
                        <input type="hidden" name="publisher" value="<%= book.publisher %>">
                        <input type="hidden" name="price" value="<%= book.discount || book.price %>">
                        <input type="hidden" name="link" value="<%= book.link %>">
                        <!-- 이미지 업로드 -->
                        <input type="hidden" name="image" value="<%= book.image%>">
                        <button type="submit" class="btn btn-success">Write Your Review</button>
                    </form>
                </div>       
            </li>
        <% }) %>
    </ul>
</div>
        <% } else { %>
            <p>No results found.</p>
            <% } %>
                <a href="/">Search Again</a>
</div>
    